//Primary colors

$color-orange: hsl(26, 100%, 55%);
$color-orange-pale: hsl(25, 100%, 94%);

//Neutral

$color-dark-blue: hsl(220, 13%, 13%);
$color-dark-gray-blue: hsl(219, 9%, 45%);
$color-gray-blue: hsl(220, 14%, 75%);
$color-light-gray: hsl(223, 64%, 98%);
$color-white: hsl(0, 0%, 100%)